<span class="topic">2. Tax Computation</span>
<mat-divider></mat-divider>
<div class="container">
  <div class="row mt">
    <div class="col-md-12">
      <span class="sub-topic"
        >Provide total value taxable electronic service</span
      >
    </div>
  </div>
  <div class="row mt">
    <div class="col-md-8">
      <span class=""
        >1. Total value of taxable electronic service exclusive of VAT</span
      ><span class="validate"> *</span>
    </div>
    <div class="col-md-4">
      <app-sale-amount></app-sale-amount>
    </div>
  </div>
  <div class="row mt">
    <div class="col-md-8">
      <span class="">2. Total VAT to be remitted (7% of 1.)</span><span class="validate"> *</span>
    </div>
    <div class="col-md-4"><app-tax-amount></app-tax-amount></div>
  </div>
  <div *ngIf="selectedValue === '1'">
    <div class="row mt">
      <div class="col-md-12">
        <span class="sub-topic"
          >In case of additional filing</span
        >
      </div>
    </div>
    <div class="row mt">
      <div class="col-md-8">
        <span class="">3. Surcharge</span>
      </div>
      <div class="col-md-4"><app-surcharge></app-surcharge></div>
    </div>
    <div class="row mt">
      <div class="col-md-8">
        <span class="">4. Penalty</span>
      </div>
      <div class="col-md-4"><app-penalty></app-penalty></div>
    </div>
    <div class="row mt">
      <div class="col-md-8">
        <span class="">5. Total amount of VAT, surcharge and  penalty (2+3+4)</span>
      </div>
      <div class="col-md-4"><app-total-amount></app-total-amount></div>
    </div>
  </div>
</div>
