
::ng-deep .mat-dialog-container {
    width: 70% !important;
    height: auto !important;
    border-radius: 20px !important;
  }
  
  ::ng-deep .mat-dialog-content {
    padding: 16px !important;
  }